.container{
    height:800px;
    width:100%;
    z-index: 0 !important;

}
.popup{
    color:red;
}
.marker{
    background-color: green;
}
.leaflet-div-icon{
    text-align: center;
}
@media (max-width: 700px) {
    
}

.leaflet-container{
    z-index: 0 !important;
}