.container{
    // height: 600px;
    height: calc(100vh-90px);
    width:100%;
    z-index: 0 !important;

}
.popup{
    color:red;
}
.marker{
    background-color: green;
}
.leaflet-div-icon{
    text-align: center;
}
@media (max-width: 700px) {
    
}

.leaflet-container{
    z-index: 0 !important;
}