@import "~leaflet/dist/leaflet.css";
@import "~leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";
@import "~leaflet-defaulticon-compatibility";
@import 'react-responsive-modal/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-dropdown/style.css';
@import "react-responsive-carousel/lib/styles/carousel.min.css";
:root {
    --custom_bg_color: rgb(255 255 255);
}

/* Tooltip. START*/
.leaflet-tooltip  {
    background-color: var(--custom_bg_color);
}
.leaflet-tooltip-left:before {
	border-left-color: var(--custom_bg_color) !important;
}
.leaflet-tooltip-right:before {
	border-right-color: var(--custom_bg_color) !important;
}
.leaflet-tooltip-top:before {
	border-top-color: var(--custom_bg_color) !important;
}
.leaflet-tooltip-bottom:before {
	border-bottom-color: var(--custom_bg_color) !important;
}
/* Tooltip. END*/
/* Left START */
.left-4p {
	left: 4.1%;
}
/* Left END */

/* Infobox Carousel START*/
.info_carousel.carousel-root .carousel-slider button{
	background: rgba(0, 0, 0, 0.2);
}
/* Infobox Carousel END*/

/* Popup. START*/
.leaflet-popup  {
    background-color: var(--custom_bg_color);
}
/* Popup. END*/
